@font-face {
  font-family: valentine;
  src: url(./fonts/VALENTIN.TTF) format("truetype");
}

p.valentine {
  font-family: valentine;
}

:root {
  --color-bg1: rgb(148, 37, 76);
  --color-bg2: rgb(244, 107, 253);
  --blending: hard-light;
}

html, body {
  font-family: valentine;
  -webkit-text-stroke: 1px white;
  background-image: linear-gradient(90deg, #601414, rgb(148, 37, 76), #d63697, #cf45d0, rgb(244, 107, 253));
  background-size: 600% 600%;
  animation: bgAnimatedGradient 15s infinite linear;
  animation-direction: alternate;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.yes, .no {
  font-size: 1.5em;
  color: #fff;
  padding: 14px 40px;
  margin: 30px;
  transition: 0.5s;
  background-color: transparent;
  font-weight: 300;
  border-radius: 10px;
  border-width: thick;
  border-color: #fff;
}

.no {
  position: absolute;
}

.yes:hover, .no:hover {
  letter-spacing: 0.25em;
  background: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

.mainimage {
  width: 200px;
  height: auto;
}

.text {
  color: #E3A4C5;
  font-size: 60px
}

.hearts {
  font-size: 23px;
  font-weight: bold;
  position: fixed;
  top: -1vh;
  left: 0;
  animation: fall 3s ease-in infinite;
}

@keyframes fall {
  to {
    transform: translateY(90vh);
  }
}

@keyframes bgAnimatedGradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 100% 0;
  }
}